@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Muli:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
*{ margin: 0; padding: 0;}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

.down:before{content: "\f019"}
.back:before{content:"\f112"}

.cd__main{
  background: #e2b646;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}
.cd__main{
    display: flex;
    width: 100%;
}

.wrapper {
  margin-top: 5vh;
}

.dataTables_filter, .dataTables_info { display: none; }

/*
.dataTables_paginate {
  color: black;
}
*/

thead {
  font-family: 'Baloo Da 2';
}

.table td:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
}

