body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar{
    background-color: #e2b64e;
    overflow: hidden;
}

.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #d4a944;
}

.dropdown{
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn{
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 20px;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover{
    background-color: #d4a944;
}

.dropdown-content{
    display: none;
    
}