* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fbc531, #e1b12c);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    /* height: 100vh; */
}

.form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
}

.form-section {
    margin-bottom: 1.5rem;
}

h3 {
    margin-bottom: 0.5rem;
    color: #4f46e5;
}

label {
    display: block;
    margin-bottom: 0.3rem;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

.select-menu-style{
	width: 100%;
	padding: 0.75rem;
	margin-bottom: 1rem;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.submit-btn {
    background-color: #e2b646;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 20px;
}

.reset-btn {
    background-color: grey;
    /* color: white; */
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    float: right;
    font-size: 1rem;
}


.submit-btn:hover {
    background-color: #cca647;
}


#alert {
	padding: 15px;
	margin: 20px 0;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
}


.hidden{
	display: none;
}

.success{
	background-color: #d4edda;
	color: #155724;
	border: 1px solid #c3e6cb;
}

.error {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
}